{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "接口文档",
        "title": "易通后端API文档",
        "contact": {},
        "license": {},
        "version": "1.0"
    },
    "host": "etong.vsattech.com",
    "basePath": "/backend/api/v1",
    "paths": {
        "/address": {
            "put": {
                "description": "更新用户地址",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "地址管理"
                ],
                "summary": "更新用户地址",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "地址id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "省",
                        "name": "province",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "城市",
                        "name": "city",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "区/县",
                        "name": "district",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "详细地址",
                        "name": "addr",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "desc",
                        "schema": {
                            "$ref": "#/definitions/v1.Result"
                        }
                    }
                }
            },
            "post": {
                "description": "增加用户地址",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "地址管理"
                ],
                "summary": "增加用户地址",
                "parameters": [
                    {
                        "type": "string",
                        "description": "省",
                        "name": "province",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "城市",
                        "name": "city",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "区/县",
                        "name": "district",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "详细地址",
                        "name": "addr",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "desc",
                        "schema": {
                            "$ref": "#/definitions/v1.Result"
                        }
                    }
                }
            },
            "delete": {
                "description": "删除用户地址",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "地址管理"
                ],
                "summary": "删除用户地址",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "地址id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "desc",
                        "schema": {
                            "$ref": "#/definitions/v1.Result"
                        }
                    }
                }
            }
        },
        "/address/item": {
            "get": {
                "description": "获取用户地址信息",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "地址管理"
                ],
                "summary": "获取用户地址信息",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "地址id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "desc",
                        "schema": {
                            "$ref": "#/definitions/v1.Result"
                        }
                    }
                }
            }
        },
        "/address/list": {
            "get": {
                "description": "获取用户地址列表",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "地址管理"
                ],
                "summary": "获取用户地址列表",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "page(默认1)",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "limit(默认10)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "desc",
                        "schema": {
                            "$ref": "#/definitions/v1.Result"
                        }
                    }
                }
            }
        },
        "/user/account/check": {
            "get": {
                "description": "检查账号是否存在",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "用户"
                ],
                "summary": "账号检测",
                "responses": {
                    "200": {
                        "description": "desc",
                        "schema": {
                            "$ref": "#/definitions/v1.UserAccountCheckData"
                        }
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "description": "登录",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "用户"
                ],
                "summary": "登录",
                "parameters": [
                    {
                        "description": "login params",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v1.UserLoginParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "desc",
                        "schema": {
                            "$ref": "#/definitions/v1.UserLoginData"
                        }
                    }
                }
            }
        },
        "/visitor/invite": {
            "post": {
                "description": "邀请访客",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "邀请函"
                ],
                "summary": "邀请访客",
                "parameters": [
                    {
                        "type": "string",
                        "description": "被邀请人手机号",
                        "name": "invitee_cellphone",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "邀请日期",
                        "name": "date",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "邀请时间",
                        "name": "time",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "被邀请人真实姓名",
                        "name": "invitee_real_name",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "被邀请人公司",
                        "name": "invitee_company_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "邀请理由",
                        "name": "invitation_reason",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "被邀请人职务",
                        "name": "invitee_duty",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "随行人数",
                        "name": "accompany_num",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "邀请模板",
                        "name": "template_name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "desc",
                        "schema": {
                            "$ref": "#/definitions/v1.UserLoginData"
                        }
                    }
                }
            }
        },
        "/visitor/invite/item": {
            "get": {
                "description": "获取单个邀请记录",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "邀请函"
                ],
                "summary": "获取单个邀请记录",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "邀请id",
                        "name": "invite_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "desc",
                        "schema": {
                            "$ref": "#/definitions/v1.InviteVisitorsRecordListItem"
                        }
                    }
                }
            }
        },
        "/visitor/invite/list": {
            "get": {
                "description": "邀请访客列表",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "邀请函"
                ],
                "summary": "邀请访客列表",
                "parameters": [
                    {
                        "type": "string",
                        "description": "被邀请人手机号",
                        "name": "invitee_cellphone",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "邀请人手机号",
                        "name": "inviter_cellphone",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "inviter or invitee",
                        "name": "type",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "desc",
                        "schema": {
                            "$ref": "#/definitions/v1.InviteVisitorsRecordListDate"
                        }
                    }
                }
            }
        },
        "/visitor/personal/invite": {
            "post": {
                "description": "邀请访客",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "邀请函"
                ],
                "summary": "邀请访客",
                "parameters": [
                    {
                        "type": "string",
                        "description": "被邀请人手机号",
                        "name": "invitee_cellphone",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "邀请日期",
                        "name": "date",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "邀请时间",
                        "name": "time",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "被邀请人真实姓名",
                        "name": "invitee_real_name",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "被邀请人公司",
                        "name": "invitee_company_name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "邀请理由",
                        "name": "invitation_reason",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "被邀请人职务",
                        "name": "invitee_duty",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "随行人数",
                        "name": "accompany_num",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "邀请模板",
                        "name": "template_name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "desc",
                        "schema": {
                            "$ref": "#/definitions/v1.UserLoginData"
                        }
                    }
                }
            }
        },
        "/wechart/sdk/config": {
            "get": {
                "description": "获取微信sdk-config",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "WeChart"
                ],
                "summary": "获取微信sdk-config",
                "parameters": [
                    {
                        "type": "string",
                        "description": "url",
                        "name": "url",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "desc",
                        "schema": {
                            "$ref": "#/definitions/util.SDK"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "util.SDK": {
            "type": "object",
            "properties": {
                "noncestr": {
                    "type": "string"
                },
                "signature": {
                    "type": "string"
                },
                "timestamp": {
                    "type": "integer"
                }
            }
        },
        "v1.InviteVisitorsRecordListDate": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/v1.InviteVisitorsRecordListItem"
                    }
                }
            }
        },
        "v1.InviteVisitorsRecordListItem": {
            "type": "object",
            "properties": {
                "accompany_num": {
                    "type": "integer"
                },
                "address": {
                    "type": "string"
                },
                "city": {
                    "type": "string"
                },
                "date": {
                    "type": "string"
                },
                "district": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "invitation_reason": {
                    "type": "string"
                },
                "invitee_cellphone": {
                    "type": "string"
                },
                "invitee_company_name": {
                    "type": "string"
                },
                "invitee_duty": {
                    "type": "string"
                },
                "invitee_real_name": {
                    "type": "string"
                },
                "inviter_cellphone": {
                    "type": "string"
                },
                "inviter_real_name": {
                    "type": "string"
                },
                "location_lat": {
                    "type": "number"
                },
                "location_lon": {
                    "type": "number"
                },
                "province": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "template_name": {
                    "type": "string"
                },
                "time": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "v1.Result": {
            "type": "object",
            "properties": {
                "code": {
                    "description": "return code, 0 for succ",
                    "type": "integer"
                },
                "data": {
                    "description": "data object",
                    "type": "object"
                },
                "msg": {
                    "description": "message",
                    "type": "string"
                }
            }
        },
        "v1.UserAccountCheckData": {
            "type": "object",
            "properties": {
                "exist": {
                    "type": "boolean"
                }
            }
        },
        "v1.UserLoginData": {
            "type": "object",
            "properties": {
                "token": {
                    "type": "string"
                }
            }
        },
        "v1.UserLoginParam": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "login_type": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "phone_number": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        },
        "BasicAuth": {
            "type": "basic"
        },
        "OAuth2AccessCode": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://example.com/oauth/authorize",
            "tokenUrl": "https://example.com/oauth/token",
            "scopes": {
                "admin": " Grants read and write access to administrative information"
            }
        },
        "OAuth2Application": {
            "type": "oauth2",
            "flow": "application",
            "tokenUrl": "https://example.com/oauth/token",
            "scopes": {
                "admin": " Grants read and write access to administrative information",
                "write": " Grants write access"
            }
        },
        "OAuth2Implicit": {
            "type": "oauth2",
            "flow": "implicit",
            "authorizationUrl": "https://example.com/oauth/authorize",
            "scopes": {
                "admin": " Grants read and write access to administrative information",
                "write": " Grants write access"
            }
        },
        "OAuth2Password": {
            "type": "oauth2",
            "flow": "password",
            "tokenUrl": "https://example.com/oauth/token",
            "scopes": {
                "admin": " Grants read and write access to administrative information",
                "read": " Grants read access",
                "write": " Grants write access"
            }
        }
    },
    "x-extension-openapi": {
        "example": "value on a json format"
    }
}